/* HEADER */

@font-face {
    font-family: DKLemonYellowSun;
    src: url(../fonts/DKLemonYellowSun.otf);
}

body {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Exo 2', sans-serif !important;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.9px;
    text-align: left;
    color: #0f426f;
}
p,
li,
address {
    font-family: 'Exo 2', sans-serif !important;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.9px;
    text-align: left;
    color: #0f426f;
}
input,
textarea,
select,
option {
    border: none !important;
}
.select2-container .select2-choice {
}
.woocommerce input.button[type='submit'],
.woocommerce a.button {
    width: 100%;
    max-width: 262px;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    min-height: 68px;
    background-color: #00ffd6;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #0f426f;
    font-family: 'Exo 2', sans-serif !important;
    border: none;
}

.woocommerce input.button[type='submit']:disabled,
.woocommerce a.button:disabled {
    background-color: #ccc;
}

.woocommerce input.button[type='submit']:hover,
.woocommerce a.button:hover {
    text-decoration: none;
}

.woocommerce a.button {
    float: right;
}

fieldset {
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 30px;
}
.pink {
    background-color: #fff0fa !important;
}
.teal {
    background-color: #cdfff7 !important;
}
.teal h3 {
    color: #00dbb8;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-logo {
    width: 80px;
    height: 80px;
}
.header .nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .nav li {
    display: inline-block;
    text-align: center;
}
.header .nav li a {
    font-family: 'Exo 2';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: 3px;
    color: #ff00a7;
    text-transform: uppercase;
}
.header .nav li a:hover {
    font-weight: normal;
    text-decoration: none;
}
.header .nav li.current-menu-item a {
    font-weight: bold;
    position: relative;
    padding: 0;
}
/* .header .nav li a:hover::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #00ffd6;
    position: absolute;
    bottom: -9px;
} */
.header .nav li.current-menu-item a::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #00ffd6;
    display: block;
    position: absolute;
    bottom: -9px;
}
.header .basket {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .basket__count {
    height: 48px;
    width: 48px;
    background-color: #00ffd6;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    font-family: 'Exo 2';
    font-size: 16px;
    font-weight: 900;
    color: #4a4a4a;
}
.header .basket a {
    font-family: 'Exo 2';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: 3px;
    color: #ff00a7;
    text-transform: uppercase;
}

.header .basket a:hover {
    text-decoration: none;
}

#click-menu {
    left: 20px !important;
    right: auto !important;
    top: 26px !important;
}
#click-menu .threeLines .line {
    background: #ff00a7 !important;
    height: 2px !important;
    width: 27px !important;
}

#click-menu.admin-bar-showing {
    margin-top: 46px !important;
}

/* HERO */
.hero {
    background-color: #cdfff7;
    width: 100%;
    height: 422px;
    padding: 36px 36px 0px 36px;
    background-image: url(/wp-content/themes/proving/img/pattern.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    position: relative;
}
.hero-blue__content {
    float: left;
    padding-left: 60px;
    width: 40%;
}

.hero.top:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid #cdfff7;
    position: absolute;
    bottom: -40px;
    left: 22%;
}
.swiggle {
    clear: both;
    display: block;
    margin: 0 auto 4px auto;
}

.inner-title h1 {
    margin-bottom: 0px;
}

.hero h1 {
    font-family: DKLemonYellowSun;
    font-size: 96px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: 2.8px;
    text-align: center;
    color: #00dbb8;
    text-align: center;
    word-spacing: -15px;
    margin-bottom: -6px;
    margin-top: 4px;
}
.hero h1 span {
    font-size: 110px;
    line-height: 104px;
}
h1,
h2 {
    font-family: DKLemonYellowSun;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: 1.4px;
    text-align: center;
    color: #0f426f;
}
.entry-title {
    margin-bottom: 0;
}
h3,
.pink-title {
    font-family: DKLemonYellowSun;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #ff00a7;
}
.hero h2 {
    font-size: 32px;
    line-height: 1.13;
    letter-spacing: 0.9px;
    color: #00dbb8;
}

.hero.pink {
    background-image: none;
    width: 60%;
    float: right;
    position: absolute;
    right: 0;
    height: auto;
    padding: 0;
}

.hero.pink p {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 1px;
    text-align: center;
    color: #0f426f;
}
.hero.pink .pink__content {
    margin: 0 auto;
    padding: 63px 30px 20px 40%;
    position: relative;
}
.hero.pink .pink__content:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    border-top: 40px solid #fff0fa;
    bottom: -40px;
    right: 26%;
    margin-left: -30px;
}
.hero.pink h2 {
    width: auto;
    font-size: 48px;
    line-height: 1.13;
    letter-spacing: 1.4px;
    color: #ff00a7;
    padding-top: 28px;
}
.home__info {
    width: 100%;
    display: block;
    clear: both;
    padding: 72px 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-block {
    padding: 30px;
    clear: both;
    max-width: 800px;
    margin: 33px auto 0;
}
.about-content-wrapper {
    display: flex;
    justify-content: space-between;
    clear: both;
    margin-top: 40px;
}
.content-block-50 {
    padding: 30px;
    width: 48.5%;
}

.content-block h3 {
    text-align: left;
}
.home__info .swiggle-blue {
}
.home__info .pink-title {
    text-align: center;
}
.bullet {
    width: 8px;
    height: 8px;
    margin: 0 auto;
    background-color: #ff00a7;
    border-radius: 10px;
}
.family {
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
}
.family:after {
    content: '';
    display: table;
    clear: both;
}
.family-picture {
    float: left;
    width: 60%;
    z-index: 10;
    position: relative;
    top: 50px;
    background-color: #ffb4e5;
}

.family-picture img {
    position: relative;
    top: -5px;
    left: 8px;
}

.home__products {
    clear: both;
    padding-top: 70px;
    padding-bottom: 40px;
}

.home__products h2 {
    margin-bottom: 0;
}
.home__products h3 {
    margin-top: -30px;
    margin-bottom: 12px;
}
.home__products .product__info {
    height: 44px;
}
.home__products--link {
    display: block;
    position: relative;
}

.home__products--background {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    transition: all 0.1s linear;

    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.icons ul li:nth-child(1) .home__products--background {
    background-image: url(/wp-content/themes/proving/img/water-selected.svg);
}
.icons ul li:nth-child(2) .home__products--background {
    background-image: url(/wp-content/themes/proving/img/granola-selected.svg);
}
.icons ul li:nth-child(3) .home__products--background {
    background-image: url(/wp-content/themes/proving/img/yoghurt-selected.svg);
}

.home__products--link:hover .home__products--background {
    opacity: 1;
}

.icons li img {
    margin: 0 auto;
    display: block;
    transform: scale(0.8);
    transition: transform 0.1s ease-in-out;
    width: 100%;
}
.icons ul li:nth-child(2) .home__products--link img,
.icons ul li:nth-child(3) .home__products--link img {
    transform: scale(0.75);
}
.icons ul li:nth-child(1) .home__products--link:hover img {
    transform: scale(0.9) rotate(-10deg) !important;
}
.icons ul li:nth-child(2) .home__products--link:hover img {
    transform: scale(0.85) rotate(10deg) !important;
}
.icons ul li:nth-child(3) .home__products--link:hover img {
    transform: scale(0.85) rotate(-10deg) !important;
}

.home__products .product__info p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #bfbfbf;
    padding: 0;
    margin: 0;
}
.hide {
    display: none;
}
.add {
    width: 100%;
    max-width: 262px;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    height: 68px;
    background-color: #00ffd6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add:hover {
    text-decoration: none;
}
.add span {
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 2px;
    text-align: center;
    color: #0f426f;
    font-family: 'Exo 2', sans-serif !important;
}

/* FOOTER */
.footer-inner {
    display: flex;
    padding: 24px 120px 24px 120px !important;
}
.footer-left {
    flex: 1;
}
.footer-left ul {
    column-count: 2;
    margin-bottom: -20px;
}
.footer-left ul li {
    padding-bottom: 20px;
}
.footer-left ul li a {
    font-family: 'Exo 2';
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: 0.9px;
    text-align: left;
    color: #ffffff;
}
.footer-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.social-link {
    margin-right: 30px;
}
.social-link:nth-child(4) {
    margin-right: 0px;
}
.logo-white {
    width: 86px;
    height: 85px;
}

@media screen and (min-width: 801px) and (max-width: 1052px) {
    .footer-inner {
        padding: 24px 20px 24px 20px !important;
    }
    .hero {
        height: 360px;
    }
    .hero h1 {
        font-size: 62px;
    }
    .hero h1 span {
        font-size: 80px;
        line-height: 74px;
    }
    .hero h2 {
        font-size: 22px;
    }
    .hero-blue__content {
        padding-left: 0px;
    }
    .hero__image {
        max-width: 400px !important;
        right: 0px !important;
        top: 65px !important;
    }
    .home__info {
        padding: 72px 40px;
    }
}

@media screen and (max-width: 800px) {
    .home__info {
        flex-direction: column;
        padding: 40px;
    }
    .home__info .swiggle-blue {
        padding: 10px;
    }
}

/* PRODUCT */
.product-inner .type-product .images {
    float: left !important;
}
.product-inner .type-product .entry-summary {
    float: right !important;
}
.product-inner h1 {
    font-family: DKLemonYellowSun;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: 1.4px;
    text-align: left;
    color: #00dbb8;
}
.woocommerce-Price-amount {
    font-family: 'Exo 2';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 1.4px;
    text-align: left;
    color: #ff00a7;
}
.product-type-simple
    div.entry-summary
    .cart
    button.single_add_to_cart_button.button,
input[type='submit'] {
    width: 100% !important;
    max-width: 262px !important;
    margin: 0 auto !important;
    display: block !important;
    font-weight: bold !important;
    height: 68px !important;
    background: none !important;
    background-color: #00ffd6 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    float: left;
    border: none;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 900 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 2px;
    text-align: center;
    color: #0f426f !important;
    font-family: 'Exo 2', sans-serif !important;
    text-transform: uppercase;
}

.product-type-simple
    div.entry-summary
    .cart
    button.single_add_to_cart_button.button:before {
    content: '+';
    padding-right: 5px;
}

.price-2 {
    display: none;
}

.woocommerce div.product form.cart div.quantity {
    font-family: 'Exo 2';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.9px;
    text-align: left;
    color: #4a4a4a;
}

.woocommerce .quantity .qty {
    width: 106px;
    height: 68px !important;
    background-color: #eeeeee;
    font-family: 'Exo 2';
    border: none;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 2px;
    text-align: center;
    color: #0f426f;
    margin: 0 60px 0 20px !important;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    width: 25%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-family: 'Exo 2';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 1px;
    text-align: center;
    color: #0f426f;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none;
    background-color: transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    border: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
    border: none;
    border-width: 0 0 0 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border-bottom: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background-color: transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #ff00a8;
    border-bottom: solid 3px #ff00a7;
}
.woocommerce-Tabs-panel p,
.woocommerce-Tabs-panel li {
    padding: 0 26px;
}
.woocommerce-tabs.wc-tabs-wrapper {
    background-color: #fff0fa;
    padding: 30px 60px;
}

.cart {
    border-top: 1px solid #eeeeee;
    padding-top: 24px;
}
.entry-content.wc-tab ul {
    color: #ff00a8;
}

.entry-content.wc-tab ul li::before {
    color: #ff00a8;
    content: '\2022';
    font-size: 2em;
    padding-right: 10px;
    position: relative;
    top: 0em;
    line-height: 24px;
}

br.clearfix {
    clear: both;
}

.max-width-800 {
    max-width: 800px !important;
    margin: 0 auto !important;
}

.related-products .icons li {
    width: 50%;
    margin-right: 0;
}
.woocommerce-MyAccount-navigation-link {
    text-align: center;
}
.woocommerce-MyAccount-content {
    background-color: #cdfff7;
    padding: 30px;
    border-right: 30px solid white;
}
.woocommerce-MyAccount-navigation {
    background-color: #cdfff7;
    padding: 30px 30px 20px 30px;
    margin-bottom: 20px;
}
.woocommerce-MyAccount-navigation-link {
    margin-bottom: 10px;
}
.woocommerce-MyAccount-navigation-link a {
    font-family: DKLemonYellowSun;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #00dbb8;
    padding-bottom: 10px;
}
.woocommerce {
    /* margin-top: 20px; */
}
.woocommerce-message {
    border-top-color: #00ffd6;
    color: #0f426f;
}
.woocommerce-message::before {
    /* display: none; */
}
.woocommerce-info {
    border-top-color: transparent !important;
}
.login {
    max-width: 400px;
    margin: 0 auto;
}
form.cart {
    background-color: transparent;
}
tr,
td,
table,
th {
    border: none !important;
}
.cart_totals h2 {
    padding-top: 30px;
}
.cart_totals h2,
.cart_totals table {
    text-align: right !important;
}

/* MOBILE MENU */
#click-menu {
    z-index: 1000;
}
#responsive-menu {
    background: #00ffd6;
    width: 85%;
    box-shadow: none;
}
#responsive-menu .responsive-menu li a {
    color: #0f426f !important;
    font-size: 14px;
    font-weight: 900 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 2px;
    font-family: 'Exo 2', sans-serif !important;
    text-transform: uppercase;
    border-top: 0px solid #3c3c3c !important;
}

#responsive-menu .responsive-menu li a:hover {
    background: #ff00a7 !important;
    box-shadow: none;
}
#responsive-menu .responsive-menu li.current-menu-item > a,
#responsive-menu .responsive-menu li.current-menu-item > .appendLink,
#responsive-menu .responsive-menu li.current_page_item > a,
#responsive-menu .responsive-menu li.current_page_item > .appendLink {
    background: #ff00a7 !important;
}
#responsive-menu .appendLink,
#responsive-menu .responsive-menu li a,
#responsive-menu #responsive-menu-title a {
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
}
#responsive-menu .responsive-menu li.current-menu-item > a:hover,
#responsive-menu .responsive-menu li.current-menu-item > .appendLink:hover,
#responsive-menu .responsive-menu li.current_page_item > a:hover,
#responsive-menu .responsive-menu li.current_page_item > .appendLink:hover {
    background: #ff00a7 !important;
    color: #ffffff !important;
}

.quantity {
    margin-bottom: 20px !important;
}

@media screen and (min-width: 801px) {
    .hero__image {
        max-width: 560px;
        float: right;
        position: relative;
        top: 50px;
        right: 60px;
    }
    .site-footer .container {
        padding: 0px;
    }
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }
    .home__info {
        padding: 72px 20px;
    }
    .header {
        height: 80px;
        position: relative;
    }
    .header .header-logo {
        width: 62px;
        height: 62px;
    }
    .hero {
        background-image: url(/wp-content/themes/proving/img/pattern-mobile.svg);
        background-position: bottom center;
        background-size: 100%;
    }
    .hero h1 {
        font-size: 55px;
        letter-spacing: 0.9px;
        word-spacing: -5px;
    }
    .hero h1 span {
        font-size: 68px;
        line-height: 1;
    }
    .hero h2 {
        font-size: 18px;
    }

    .hero__image {
        margin: 0 auto;
        display: block;
        max-width: 340px;
    }

    .hero-blue__content {
        width: 100%;
        padding-left: 0;
    }
    .swiggle {
        width: 24px;
    }
    .hero.top {
        padding-top: 10px;
    }
    .hero.top:after {
        display: none;
    }
    .family-picture {
        width: 100%;
        top: 0px;
        border: 20px solid white;
        border-right-width: 30px;
        box-sizing: border-box;
    }
    .hero.pink {
        width: 100%;
        float: none;
        position: relative;
        clear: both;
    }
    .hero.pink p {
        text-align: left;
    }
    .hero.pink .bullet {
        display: none;
    }
    .hero.pink h2 {
        font-size: 32px;
    }
    .hero.pink .pink__content {
        padding: 30px;
    }
    .hero.pink .pink__content:after {
        right: 50%;
        transform: translateX(50%);
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 24px solid #fff0fa;
        bottom: -24px;
    }
    .family {
        margin-top: 40px;
        margin-bottom: 5px;
    }

    .nav,
    .basket__text {
        display: none !important;
    }
    .logo-white {
        order: 1;
        width: 48px;
        height: 48px;
        margin-bottom: 20px;
    }
    .footer-inner {
        flex-direction: column;
        padding: 20px !important;
        align-items: center;
    }
    .footer-left ul {
        column-count: 1;
        text-align: center;
    }
    .footer-left ul li {
        text-align: center;
    }

    .footer-left {
        column-count: 1;
        text-align: center;
        order: 3;
        padding-top: 40px;
    }
    .footer-left ul li a {
        font-size: 14px;
    }
    .footer-right {
        order: 2;
        justify-content: center;
    }
    .footer-right .social-link {
        /* margin-right: 0px; */
    }

    .basket__count {
        right: 20px !important;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
    h2 {
        font-size: 32px;
    }
    .woocommerce-MyAccount-navigation {
        width: 100% !important;
    }
    .woocommerce-MyAccount-content {
        clear: both;
        border-right: 0px solid #fff !important;
        width: 100% !important;
    }
    .product-inner {
        padding: 0px !important;
    }
    .product-inner h1 {
        text-align: center !important;
        font-size: 32px !important;
    }
    .product-type-simple
        div.entry-summary
        .cart
        button.single_add_to_cart_button.button,
    input[type='submit'] {
        clear: both;
        margin: 20px auto 0 auto !important;
        float: none !important;
    }
    .quantity {
        display: none;
    }
    .woocommerce-tabs {
        padding: 20px 10px !important;
    }
    .woocommerce-tabs ul {
        list-style: none !important;
    }
    .woocommerce-tabs ul li {
        display: block !important;
    }
    .woocommerce-tabs ul li a {
        text-align: left !important;
    }
    .about-content-wrapper {
        display: block;
    }
    .content-block-50 {
        padding: 30px;
        width: 100% !important;
        margin-bottom: 20px;
    }
}
